html,
body {
  margin: 0;
}

body {
  font-family: Spartan;
  font-size: 12px;
  line-height: 1.5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.top-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#flex-item-top {
  background-image: url(../images/mobile-image-hero-1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-bottom: 96%;
  position: relative;
}

#flex-item-top .arrows {
  position: absolute;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#flex-item-top .arrows > img {
  background-color: black;
  padding: 22.5px;
  width: 9.5px;
}

#flex-item-top .arrows > img:hover {
  background-color: #1a1a1a;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin: 30px 60px 0px 10px;
}

.navbar .title {
  font-size: 2em;
  font-weight: 700;
  color: #fff;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.navbar .dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .dropdown .dropicon {
  padding: 10px;
  cursor: pointer;
}

.navbar .dropdown .dropdown-content {
  display: none;
  background-color: white;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.navbar .dropdown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1rem;
}

.navbar .dropdown .dropdown-content a:hover {
  background-color: #f1f1f1;
}

.navbar .dropdown:hover .dropdown-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-transform: lowercase;
  font-weight: 700;
  width: 100%;
}

.navbar .dropdown:hover .dropicon {
  background-color: blue;
  background-image: url(../images/icon-close.svg);
  background-repeat: no-repeat;
  padding: 30px;
}

#flex-item-bottom,
#mid-item {
  margin: 32.5px;
}

#flex-item-bottom p,
#mid-item p {
  color: #a1a1a1;
}

#flex-item-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-slider > h6 {
  text-transform: uppercase;
  letter-spacing: 15px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 1em;
}

.top-slider > h6:after {
  content: url("../images/icon-arrow.svg");
  padding-left: 36px;
}

.bottom-container-item > h6 {
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 1em;
}

.fixed-imgs {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */