$colors: (
  "Dark Gray": hsl(0, 0%, 63%),
  "Black": hsl(0, 0%, 0%),
  "White": hsl(0, 0%, 100%),
  "Very Dark Gray": hsl(0, 0%, 27%),
);

@function col($color-name) {
  @return map-get($map: $colors, $key: $color-name);
}

$desktop: 768px;
$phone: 400px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}


html,
body {
  margin: 0;
}

body {
  font-family: Spartan;
  font-size: 12px;
  line-height: 1.5;
  box-sizing: border-box;
  
  @include desktop {
    overflow-y: hidden;

    .main-container {
      display: flex;
      flex-direction: column;
      //align-items: flex-start;
    }
  }

}

/*_____________________________________TOP_FLEX_CONTAINER__________________________________________*/

.top-flex-container {
  //display: flex;
  //background-color: chartreuse;
  
}

@include desktop {

  .top-flex-container{
    overflow-y: hidden;
    //background-color: pink;
    //height: 58vh;
    border: black;
    //flex-basis: 0;
  }
  
}

// ------------------------------------------------------------------------SLIDER
.slider {
  display: flex;
  flex-direction: column;
}

@include desktop { 
  .slider {
    flex-direction: row;
    justify-content: flex-start;
    //align-items: baseline; 
  }
}

// ================================================FLEX-ITEM: TOP
#flex-item-top {
  background-image: url(../images/mobile-image-hero-1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-bottom: 96%;
  // img-width / img-height * container-width
  position: relative;
}

@include desktop {

  #flex-item-top {
    background-image: url(../images/desktop-image-hero-1.jpg);
    //overflow: hidden;
    background-size: contain;
    padding-bottom: 157%;
    //flex-basis: 3;
    //float: right;
  }

}

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>ARROWS
.arrows {
  //background-color: blue;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;

  img {
    background-color: col("Black");
    padding: 1.4em;
    width: 9.5px;
  }

  img:hover {
    background-color: lighten(col("Black"), 10%);
  }

}

@include desktop {
    .arrows {
      position: relative;
      top: 0;
      right: 10;
    }
}
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>NAVBAR
.navbar {
  //background-color: burlywood;
  display: flex;
  flex-direction: row-reverse;
  margin: 30px 60px 0px 10px;
  //background-color: orange;
  padding: 1px;
  //position: fixed;
  width: 100%;
  z-index: 1;

  .title {
    font-size: 2em;
    font-weight: 700;
    color: #fff;
    flex: 1;
    display: flex;
    justify-content: center;
  }
  

  .dropdown {
    display: flex;


    .dropicon {
      //background-color: green;
      padding: 10px;
      cursor: pointer;
      z-index: 2;
    }

    #dropdown-content {
      display: none;
      //position: relative;
      background-color: col("White");
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      width: 100%;
      //transition: ease;
      //z-index: 1;
      text-transform: lowercase;
      font-weight: 700;
      height: 100px;
      position: fixed;
      right: 0px;
      top: 0px;
      left: 0;
      }

    #dropdown-content a {
      color: col("Very Dark Gray");
      text-decoration: none;
      font-size: 1rem;
      margin-left: 50px;
      position: relative;
      top: 40px;
      left: 20px;

      @media screen and (max-width: $phone) {
        left: 0;
        font-size: .8rem;
      }
    }

    #dropdown-content a:hover {
      background-color: #f1f1f1;
    }
  }

  // .dropdown:hover .dropdown-content {
  //   display: flex;
  //   justify-content: center;
  //   //align-items: center;
  //   text-transform: lowercase;
  //   font-weight: 700;
  //   //width: 100vw;
  //   position: absolute;
  //   //right: -70px;
  //   //flex-wrap: wrap-reverse;
  //   //z-index: 2;
  // }

  // .dropdown:hover .dropicon {
  //   //background-color: blue;
  //   //color: #fff;
  //   align-self: flex-end;
  //   display: none;
  //   background-image: url(../images/icon-close.svg);
  //   background-repeat: no-repeat;
  //   //position: relative;
  //   z-index: 2;
  //   //padding: 30px;

  // }
}

// ================================================FLEX-ITEM: BOTTOM
#flex-item-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32.5px;

    p {
      color: hsl(0, 0%, 63%);
    }

    h6 {
      text-transform: uppercase;
      letter-spacing: 15px;
      align-self: flex-start;
      font-size: 1em;
      //background-color: pink; 
    }

    h6:after {
      content: url("../images/icon-arrow.svg");
      padding-left: 3em;
    }
}

@include desktop {
  #flex-item-bottom {
  //background-image: url(../images/desktop-image-hero-1.jpg);
  // background-repeat: no-repeat;
  flex-basis: 1;
  //overflow-y: hidden;
  //background-color: yellow;
  //height: 350px;
  //float: right;
  } 
}
/*__________________________________BOTTOM_FLEX_CONTAINER__________________________________________*/

.bottom-flex-container {
  
}

@include desktop {
  .bottom-flex-container {
    display: flex;
    background-color: chocolate;
    //height: 42vh;
    //position: absolute;
   // flex-direction: row;
  }
}
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>BOTTOM_CONTAINER_ITEM
.bottom-container-item {
  padding: 10px 0;

  .fixed-imgs {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  }

}

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>MID_ITEM
#mid-item {
  margin: 32.5px;

  h6 {
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 1em;
  } 

  p {
    color: hsl(0, 0%, 55%);
  }

}




