$colors: (
  "Dark Gray": hsl(0, 0%, 63%),
  "Black": hsl(0, 0%, 0%),
  "White": hsl(0, 0%, 100%),
  "Very Dark Gray": hsl(0, 0%, 27%),
);

@function col($color-name) {
  @return map-get($map: $colors, $key: $color-name);
}

$desktop: 768px;
$phone: 400px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

html,
body {
  margin: 0;
}

body {
  font-family: Spartan;
  font-size: 12px;
  line-height: 1.5;
  box-sizing: border-box;

  @include desktop {
    //overflow-y: hidden;

    .main-container {
      display: flex;
      flex-direction: column;
      //align-items: flex-start;
    }
  }
}

/*_____________________________________TOP_FLEX_CONTAINER__________________________________________*/

.top-flex-container {
  display: flex;
  //background-color: chartreuse;
}

@include desktop {
  .top-flex-container {
    //background-color: pink;
    justify-content: flex-end;
    height: 67%;
  }
}

// ------------------------------------------------------------------------SLIDER
.slider {
  display: flex;
  flex-direction: column;
}

@include desktop {
  .slider {
    flex-direction: row;
    //justify-content: flex-start;
    //align-items: baseline;
  }
}

// ================================================FLEX-ITEM: TOP
#flex-item-top {
  background-image: url(../images/mobile-image-hero-1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-bottom: 96%;
  // img-width / img-height * container-width
  position: relative;
}

@include desktop {
  #flex-item-top {
    background-image: url(../images/desktop-image-hero-1.jpg);
    background-size: 100% 100%;
    height: 67vh;
    //height: 65vh;
    padding-bottom: 0;
    //width: 58%;
    width: 68%
    //background-color: red;
  }
}

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>ARROWS
.arrows {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;

  img {
    background-color: col("Black");
    padding: 1.4em;
    width: 9.5px;
  }

  img:hover {
    background-color: lighten(col("Black"), 10%);
  }
}

@include desktop {
  .arrows {
    //background-color: green;
    position: absolute;
    right: -100px;
    bottom: 0;
    cursor:pointer;


    img{ width: 15%; padding: 1.5em;}
  }
}
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>NAVBAR
.navbar {
  //background-color: burlywood;
  display: flex;
  flex-direction: row-reverse;
  margin: 30px 60px 0px 10px;
  //background-color: orange;
  padding: 1px;
  //position: fixed;
  width: 100%;
  z-index: 1;

  .title {
    font-size: 2em;
    font-weight: 700;
    color: #fff;
    flex: 1;
    display: flex;
    justify-content: center;
  }

  @include desktop {
      .title {
        justify-content: flex-start;
        //cursor: crosshair;
      }
  }

  .dropdown {
    display: flex;

    .dropicon {
      //background-color: green;
      padding: 10px;
      cursor: pointer;
      z-index: 2;
    }

    @include desktop {
      .dropicon {
        display: none;
      }
    }

    #dropdown-content {
      display: none;
      //position: relative;
      background-color: col("White");
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      width: 100%;
      //transition: ease;
      //z-index: 1;
      text-transform: lowercase;
      font-weight: 700;
      height: 100px;
      position: fixed;
      right: 0px;
      top: 0px;
      left: 0;
    }

    @include desktop {
      #dropdown-content {
        display: block;
        background-color: transparent;
        padding-left: 12.5%;
        width: 50%;
        position: absolute;
        box-shadow: none;
      }
    }

    #dropdown-content a {
      color: col("Very Dark Gray");
      text-decoration: none;
      font-size: 1rem;
      margin-left: 50px;
      position: relative;
      top: 40px;
      left: 20px;

      @media screen and (max-width: $phone) {
        left: 0;
        font-size: 0.8rem;
      }

      @include desktop {
        color: #fff;
        margin-left: 20px;
      }
    }

    #dropdown-content a:hover {
      background-color: #f1f1f1;
    }

    @include desktop {
      #dropdown-content a:hover {
        background-color: transparent;
        background-image: linear-gradient(to right, #fff, #fff);
        background-position: 50% 100%; 
        //background-position: bottom center;
        background-repeat: no-repeat;
        background-size: 50% 3px;
        
      }
    }
  }

}

// ================================================FLEX-ITEM: BOTTOM
//.mySlides {display:none;}

#flex-item-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32.5px;

  p {
    color: hsl(0, 0%, 63%);
  }

  h6 {
    text-transform: uppercase;
    letter-spacing: 15px;
    align-self: flex-start;
    font-size: 1em;
    //background-color: pink;
  }

  h6:after {
    content: url("../images/icon-arrow.svg");
    padding-left: 3em;
  }
}

@include desktop {
  #flex-item-bottom  {
    //background-color: yellow;
    //width: 42%;
    width: 32%;
    margin: 0px;
    padding: 50px 89px;

    h6:hover{ 
      color: lighten(col("Black"), 45%); 
      cursor: pointer;
    }

    h2 {
      font-size: 20px;
      font-weight: 600;
      line-height: normal;
      align-self: flex-start;
    }
  }
}
/*__________________________________BOTTOM_FLEX_CONTAINER__________________________________________*/

// .bottom-flex-container {
// }

@include desktop {
  .bottom-flex-container {
    //background-color: chocolate;
    display: flex;
    //flex-basis: 40vh;
    height: 33%;
  }

  #mid-item {
    //background-color: cornsilk;
    //flex-basis: 45%;
  }
}
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>BOTTOM_CONTAINER_ITEM
.bottom-container-item {
  padding: 10px 0;

  .fixed-imgs {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
  }
}

@include desktop {
  .bottom-container-item {
    //background: crimson;
    padding: 0;
    //height: 100%;

    .fixed-imgs {
      height: 100%;
      //width: 33.25vw;
      width: 33.25vw;
    }
  }
}

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>MID_ITEM
#mid-item {
  margin: 32.5px;

  h6 {
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 1em;
  }

  p {
    color: hsl(0, 0%, 55%);
  }
}
